.knockout-text {
    background: url('https://juliesparis.files.wordpress.com/2011/07/dscn1264-cluny-gothic-vaults-used.jpg');
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 17vw;
    font-weight: bold;
    text-align: center;
    font-family: $mainFont;
    text-align: right;
}
